set from = 'hsalehipour@ultratronik.de'
set realname = 'Hossein Salehipour'

# IMAP
set imap_user = 'hsalehipour@ultratronik.de'
set imap_authenticators = 'xoauth2'
set imap_oauth_refresh_command = "/usr/local/share/neomutt/oauth2/mutt_oauth2.py ~/.config/mutt/hsalehipour@ultratronik.de.tokens"
set folder = 'imaps://outlook.office365.com/'
set spoolfile = +Inbox
set postponed = +Drafts
set record = "+Sent Items"
set mbox = +Inbox
set trash = +"Deleted Items"
mailboxes +Inbox +Drafts +"Sent Items" +"Deleted Items" +"Junk Email" +Notes +Archive +"Conversation History" +"RSS-Abonnements"

# SMTP
set sendmail = '/usr/bin/msmtp'
set ssl_force_tls = yes
set ssl_starttls = yes
set ssl_verify_host = yes
set ssl_verify_dates = yes
